@import '../../App.scss';

.header {
    width: 100%;
    grid-area: head;
    min-height: $header-height;
    background-color: rgb(3, 114, 188);
    display: grid;
    grid-template-columns: 20px auto;
    gap: 10px;
    text-align: left;
    grid-template-areas: 'dot login logout';
    color: #ffffff;
    align-items: center;
}