@import '../../App.scss';

.header {
    width: 100%;
    grid-area: head;
    min-height: $header-height;
    background-color: rgb(3, 114, 188);
    display: flex;
    justify-content: center;
    grid-template-columns: 20px auto;
    gap: 10px;
    text-align: center;
    color: #ffffff;
    align-items: center;
}

.logo {}