.App {
  text-align: center;
}

.title {
  margin: 30px 0;
  color: #39649d;
}

.main__body {
  width: 800px;
  margin: 0 auto;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}